        .toggle-password {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 35px;
            transform: translateY(40%);
        }

        .text-field {
            position: relative;
        }

        .info-side {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            max-height: 80rem;
            border-radius: 2rem;
            background: url('assets/img/background.jpg') repeat center center;
            background-position: 55% 50%;
        }

        .mensagem {
            margin-bottom: 1rem;
            padding: 0.75rem;
            border-radius: 5px;
            background-color: #f8d7da;
            color: #721c24;
            text-align: center;
        }